
@{
    ViewBag.Title = "AddCandidate";
}

<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <h2>Add Candidate</h2>
        <form action="/home/addcandidate" method="post">
            <input type="text" class="form-control" placeholder="First Name" name="firstName" />
            <br/>
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" />
            <br />
            <input type="text" class="form-control" placeholder="Email" name="email" />
            <br />
            <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" />
            <br />
            <textarea class="form-control" placeholder="Notes" name="notes" rows="3"></textarea>
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

