@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <a href="/home/addcandidate">Add Candidate</a>
        <br/>
        <a href="/home/pending">View Pending</a>
        <br />
        <a href="/home/rejected">View Rejected</a>
        <br />
        <a href="/home/accepted">View Accepted</a>
    </div>
</div>